openapi: 3.0.0
info:
  title: Social Network API
  version: 1.0.0
  description: API для социальной сети, связанной с путешествиями

servers:
  - url: https://api.social-network.com/v1
    description: Prod API
  - url: https://devapi.social-network.com/v1
    description: Dev API

paths:
  /register:
    post:
      summary: Регистрация пользователя
      description: Позволяет пользователю зарегистрироваться в системе.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
                - full_name
              properties:
                username:
                  type: string
                  description: Имя пользователя
                email:
                  type: string
                  description: Электронная почта пользователя (необязательное поле)
                password:
                  type: string
                  description: Пароль пользователя
                full_name:
                  type: string
                  description: Полное имя пользователя
                profile_picture:
                  type: string
                  description: Ссылка на фотографию профиля (необязательное поле)
      responses:
        '200':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties: {}
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Поля 'username', 'password' и 'full_name' обязательны для заполнения"
        '409':
          description: Пользователь с таким email/username уже существует
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: USER_ALREADY_EXISTS
                  message:
                    type: string
                    example: "A user with this email/username already exists."
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при регистрации пользователя. Пожалуйста, повторите попытку позже."

  /login:
    post:
      summary: Логин пользователя
      description: Позволяет пользователю войти в систему по номеру мобильного телефона.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone_number
                - password
              properties:
                phone_number:
                  type: string
                  description: Номер мобильного телефона
                password:
                  type: string
                  description: Пароль пользователя
      responses:
        '200':
          description: Успешный логин
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Токен для авторизации
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Неверный номер телефона или пароль"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка на сервере. Пожалуйста, попробуйте снова."

  /logout:
    post:
      summary: Логаут пользователя
      description: Позволяет пользователю выйти из системы.
      responses:
        '200':
          description: Успешный выход
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties: {}
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка на сервере. Пожалуйста, попробуйте снова."

  /posts:
    post:
      summary: Публикация поста
      description: Позволяет пользователю опубликовать пост о путешествии.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - photos
                - place_id
                - user_id
              properties:
                text:
                  type: string
                  description: Текст поста (обязательное поле)
                photos:
                  type: array
                  items:
                    type: string
                    description: Фото в формате Base64 (обязательное поле)
                place_id:
                  type: integer
                  description: Идентификатор места (обязательное поле)
                user_id:
                  type: integer
                  description: Идентификатор пользователя, который публикует пост (обязательное поле)
      responses:
        '200':
          description: Пост успешно опубликован
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties: {}
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Все поля обязательны для заполнения"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка на сервере. Пожалуйста, попробуйте снова."

  /feeds:
    get:
      summary: Просмотр ленты постов
      description: Получение ленты постов для всех пользователей.
      responses:
        '200':
          description: Лента постов успешно загружена
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      description: Идентификатор пользователя, который опубликовал пост
                    post_id:
                      type: integer
                      description: Идентификатор поста
                    place_id:
                      type: integer
                      description: Идентификатор места
                    text:
                      type: string
                      description: Текст поста
                    photos:
                      type: array
                      items:
                        type: string
                        description: Фото в формате Base64
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Ошибка запроса"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при загрузке ленты. Пожалуйста, повторите попытку позже."

  /feeds/{user_id}:
    get:
      summary: Просмотр ленты постов конкретного пользователя
      description: Получение ленты постов для указанного пользователя.
      parameters:
        - name: user_id
          in: path
          required: true
          description: Идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          description: Лента постов конкретного пользователя успешно загружена
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      description: Идентификатор пользователя, который опубликовал пост
                    post_id:
                      type: integer
                      description: Идентификатор поста
                    place_id:
                      type: integer
                      description: Идентификатор места
                    text:
                      type: string
                      description: Текст поста
                    photos:
                      type: array
                      items:
                        type: string
                        description: Фото в формате Base64
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Ошибка запроса"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при загрузке ленты пользователя. Пожалуйста, повторите попытку позже."

  /users/{user_id}:
    get:
      summary: Просмотр аккаунта пользователя
      description: Получение данных аккаунта пользователя по user_id.
      parameters:
        - name: user_id
          in: path
          required: true
          description: Идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          description: Данные пользователя успешно загружены
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    description: Идентификатор пользователя
                  username:
                    type: string
                    description: Имя пользователя
                  email:
                    type: string
                    description: Электронная почта пользователя
                  full_name:
                    type: string
                    description: Полное имя пользователя
                  profile_picture:
                    type: string
                    description: Фото профиля пользователя
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                          description: Идентификатор пользователя, который опубликовал пост
                        post_id:
                          type: integer
                          description: Идентификатор поста
                        text:
                          type: string
                          description: Текст поста
                        photos:
                          type: array
                          items:
                            type: string
                            description: Фото в формате Base64
                        place_id:
                          type: integer
                          description: Идентификатор места
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Неверный запрос"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при получении данных аккаунта. Пожалуйста, попробуйте снова."

  /users/{user_id}/follow:
    post:
      summary: Подписка пользователя на другого
      description: Позволяет пользователю подписаться на другого пользователя.
      parameters:
        - name: user_id
          in: path
          required: true
          description: Идентификатор текущего пользователя (того, кто подписывается)
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - follow_id
              properties:
                follow_id:
                  type: integer
                  description: Идентификатор пользователя, на которого подписывается текущий пользователь
      responses:
        '200':
          description: Успешная подписка
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User successfully followed."
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Invalid user_id or follow_id."
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при подписке. Пожалуйста, повторите попытку позже."

  /users/{user_id}/subscriptions:
    get:
      summary: Получение списка подписок пользователя
      description: Возвращает список пользователей, на которых подписан текущий пользователь.
      parameters:
        - name: user_id
          in: path
          required: true
          description: Идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          description: Список подписок успешно загружен
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      description: Идентификатор пользователя, на которого подписан текущий пользователь
                    username:
                      type: string
                      description: Имя пользователя
                    photo:
                      type: string
                      description: Ссылка на фотографию пользователя
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Неверный запрос"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при загрузке списка подписок. Пожалуйста, повторите попытку позже."

  /places/search:
    get:
      summary: Поиск по местам отдыха
      description: Позволяет искать места отдыха по заданным критериям.
      parameters:
        - name: query
          in: query
          required: true
          description: Строка поиска (например, название места)
          schema:
            type: string
        - name: location
          in: query
          required: false
          description: Географическое расположение для более точного поиска
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Категория места (например, пляж, горы)
          schema:
            type: string
      responses:
        '200':
          description: Результаты поиска успешно загружены
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    place_id:
                      type: integer
                      description: Идентификатор места
                    name:
                      type: string
                      description: Название места
                    category:
                      type: string
                      description: Категория места
                    location:
                      type: string
                      description: Локация места
                    photos:
                      type: array
                      items:
                        type: string
                        description: Фото в формате Base64
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: "Неверный запрос"
        '500':
          description: Ошибка на сервере
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "Ошибка при поиске мест. Пожалуйста, повторите попытку позже."
